<div class="container-fluid">
  <div class="container">
    <!-- tabs //start -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "Category List", admin_categories_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "User List", admin_users_path, class: "nav-link" %>
      </li>
    </ul><br />
    <!-- tabs //end -->

    <!-- input //start -->
    <div class="form-froup">
      <%= form_for [:admin ,@category] do |f| %>
        <%= f.text_field :name, placeholder: "Category Name" %>
        <%= f.submit class: "btn btn-outline-secondary" %>
      <% end %>
    </div><br />
    <!-- inpute //end -->

    <!-- table //start -->
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nmae</th>
            <th scope="col">功能</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr id="category-<%= category.id %>">
              <td><%= category.name %></td>
              <td>
                <%= link_to "Edit", admin_categories_path(id: category.id), class: "btn btn-outline-secondary" %>
                <%= link_to "Delete", admin_category_path(category), remote: true, method: :DELETE, class: "btn btn-outline-secondary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- table //end -->

  </div>
</div>